* {
    box-sizing: border-box;
  }
  
  body {
    font-family: impact;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 100px;
    text-align: center;
    background: #000000;
    color: #fff;
  }
  
  nav {
    display: flex;
    background-color: #00a2ff;
  }
  


  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }


  .products {
    flex: 2;
    background-color: rgb(194, 0, 0);
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    margin-top: -1200px;
    margin-bottom: 100px;
    margin-right: -20px;
    margin-left: 485px;

  }

  aside {
    flex: 1;
    background-color: #0058db;
    padding: 80px;
    font-size: 24px;
    text-align: left;
    height: 1200px;
    width: 500px;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #000000;
    color: #fff;
    margin-top: auto;
    margin: 450px 100px 0px 0px;
  }
  
  /* TODO: Add properties to the cards to achieve the required look */
  .card {
    box-shadow: 10px 10px 5px rgb(80, 0, 0);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    
  }
  
  .card header {
    padding: 20px;
    border-radius: 50px 50px 0 0;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }  
  }
  